/*
 * Override Bootstrap's default container.
 */
body {
    font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", "sans-serif";
    font-weight: normal;
    padding-top: 50px;
}

a {
    color: #cf4646;
}

a:hover,
a:focus {
    color: #A62C2C;
}

pre {
    border: none;
    background-color: transparent;
}

.jumbotron {
    text-align: center;
    background-color: #8892BF;
    color: #fff;
}

.jumbotron .lead em {
    display: none;
}

.jumbotron .logo {
    width: 100%;
    max-width: 200px;
}

.jumbotron .btn-getting-started {
    border: none;
    color: #fff;
    box-shadow: inset 0 0 0 2px #fff;
    border-radius: 2px;
    background-color: transparent;
    margin-top: 26px;
}

.jumbotron .btn-getting-started:hover,
.jumbotron .btn-getting-started:active {
    color: #fff;
    box-shadow: inset 0 0 0 2px #fff;
    background-color: transparent;
}

@media (min-width: 768px) {
    .site-navbar .navbar-nav {
        float: right !important;
    }
}

.navbar-inverse {
    background-color: #8892BF;
    border-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: #efefef;
}

.navbar-inverse .navbar-nav > li > a {
    color: #e8e8e8;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #CA3131;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.footer {
    margin-top: 60px;
    text-align: center;
    color: #aaa;
}

.footer a {
    color: inherit;
}

.footer a:hover {
    text-decoration: none;
    color: inherit;
}

.docs-wrapper {
    margin-top: 30px;
}

.benefits h2 {
    margin-top: 40px;
}

.benefits p {
    font-size: 18px;
}