nohup.out
composer.lock
# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
# composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar

# local phpunit config
/phpunit.xml
composer.lock

# grunt tools

# vim swp file
*.swp
tags
static/web/life/*
static/web/uploads/*
static/web/test/*
common/logs/*
admin/web/assets/*
blog/web/assets/*
awephp/web/assets/*
weixin/web/assets/*
